nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 55px;
  background-color: rgb(24, 144, 255);
}

nav div a {
  text-decoration: none;
  color: white;
}
