:root {
  background-color: rgb(51, 51, 60);
  font-family: Roboto;
  max-width: 938px;
  margin: 0 auto;
  font-weight: 400;
  display: grid;
  text-align: center;
}

:where(.css-1c374ye).ant-rate .ant-rate-star-first,
:where(.css-1c374ye).ant-rate .ant-rate-star-second {
  color: rgba(255, 255, 255, 0.5);
}
